@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

html {
  font-family: "Comfortaa", cursive;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 100%, 74%);
  background-image: url("./images/bg-intro-desktop.png");
}

main {
  height: 98vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  place-items: center;
  word-wrap: break-word;
  padding: 0 3rem;
}

h1 {
  font-size: 3rem;
  text-align: left;
  font-style: normal;
  font-weight: bolder;
}

.left {
  grid-area: 1 / 1 / 6 / 4;
  padding: 0 2rem;
  color: white;
  font-size: 16px;
}
.right {
  grid-area: 1 / 4 / 6 / 7;
  padding: 0 2rem;
}

.left > p {
  line-height: 1.7rem;
}

.message {
  background-color: hsl(248, 32%, 49%);
  color: white;
  padding: 1.7rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0px 9px 0px 0px rgba(0,0,0, .15);
}

form {
  background-color: #fff;
  padding: 1.7rem 2.5rem;
  box-shadow: 0px 9px 0px 0px rgba(0,0,0, .15);
  border-radius: 1rem;
}

input {
  width: 86%;
  font-size: 16px;
  border-radius: .3rem;
  background-color: transparent;
  padding: 1rem 1.7rem;
  margin: .5rem 0;
  border: 1px solid hsl(246, 25%, 77%);
  font-weight: bold;
}

input:active {
  border: .1rem solid hsl(249, 10%, 26%);
}

button {
  width: 100%;
  padding: 1rem;
  background-color: hsl(154, 59%, 51%);
  border-radius: .3rem;
  box-shadow: 0px 6px 0px 0px #46b081;
  border: none;
  font-size: 1rem;
  vertical-align: middle;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: .5rem;
  cursor: pointer;
  padding-top: 1.2rem;
}

p.footer {
  text-align: center;
  margin-top: 1.3rem;
  font-size: 12px;
  color: hsl(246, 25%, 77%);
}

.text-red {
  color: hsl(0, 100%, 74%);
  font-weight: bold;
}